/* toute la zone article (nommée rangée pour éviter répétition*/
.rangée {
    background-image: url('../images/image_articles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


/* **********************************ARTICLES **********************************/

.article {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;


}

/******************************zone contneu principal**************************/

.centre__article {
    max-width: 1100px;
    margin: 0 auto;
    background-color: rgba(255, 244, 212, 0.408);
    border: double 8px aliceblue;
    border-top: none;
    border-bottom: none;
}

/**********************************************composantes articles individuels*************/
.article__div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
    min-width: 300px;
}


.article__div:nth-child(even) .article__figure {
    order: 1;
}

.article__div:nth-child(odd) .article__figure {
    order: -1;
}

.article__texte {
    padding: 10px;
    flex: 1 1 300px;
    min-width: 300px;
}


.article__texte h2 {
    padding: 10px;
    font-style: italic;
    background-color: rgba(255, 96, 78, 0.901);
    border-radius: 10px;
    text-align: center;
}

.article__texte p {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    font-size: 10px;
    min-width: 100px;
}

/******************************************FIGURES***************************************/

/*image et figcaption*/
.article__figure {
    flex: 1 1 300px;
}

/*images*/
.article__figure img {
    display: flex;
    width: 100%;
    height: auto;
    transform: scale(0.8);
    filter: blur(4px);
    align-items: center;
}

.article__figure img:hover {
    filter: blur(0px) saturate(4);
    transform: scale(1);
}

/*figcapiton*/

.article__figure figcaption {
    text-align: center;
    font-style: italic;
    padding: 0;
    border: double 4px white;
}