/*********************************************** INSCRIPTION + FORFAITt*****************************************/

.inscription {
    background-image: url("../images/inscription.jpg");
    border: 8px double white;
}





/*le titre (h1) de la page d'inscription*/
.titre__inscription{
    text-align: center;
    color: aliceblue;
    font-size: 45px;
     font-family: "Sancreek", serif;
    font-style: italic;
     text-shadow: 2px 2px 12px #000000;
}

/* ************************************LA SÉLECTION DE FORFAIT***********************************/

label{
      color: aliceblue;
      padding: 15px;
      font-size: 25px;
}

.forfait{
      padding: 30px;
       text-shadow: 2px 2px 12px #000000;
}


/***************************************ÉCRITURE D'INFO*******************************************/

/* titre de chaque zone d'écriture**/
div .formulaire__label{
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px;
  text-shadow: 2px 2px 4px #09291c;;
}

div .formulaire__div{
      
    margin: 20px 0;
    text-align: center;
    vertical-align: middle;
}

/* zone d'écriture**/
.formulaire__input{
      width: 500px;
      background-color: rgba(255, 242, 244, 0.156);
      border: solid 1px aliceblue;
      color: aliceblue;
}


/**********************************************valider inscription***********************************************/
.bouton__valider{
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50px;
    border: 5px double aliceblue;
    background-color: rgba(240, 248, 255, 0.602);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000812;
    font-size: 22px;
}




