.galerie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    
    
}
.galerie__figure{
    margin: 20px;
    padding: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    
    transition: transform 0.3s ease-in-out;
    margin: 0 auto;
    filter: grayscale(50) blur(3px);
    
}



.galerie__img{
    display: block;
    width: 200px;
   border: double aliceblue 12px;
    margin: 0 auto;
    margin: 10;
}

.galerie__figcaption{
    border: solid aliceblue 3px;
    text-align: center;
    padding: 5px;
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0.572);
    width: 200px;
    margin: 0 auto;

}

.galerie__figure:nth-of-type(odd){
    transform: rotate(-10deg);
}

.galerie__figure:nth-of-type(odd):hover{
    transform: rotate(-15deg) scale(1.5);
   filter: hue-rotate(-100deg) contrast(150%) saturate(150%); }

.galerie__figure:nth-of-type(even){
    transform: rotate(10deg);
  
}

.galerie__figure:nth-of-type(even):hover{
    transform: rotate(15deg) scale(1.5);
  filter: hue-rotate(100deg); }