/***********************************************MENU BURGER*****************************************************/
/******************************************contenu menu******************************************************/
/*positionement*/


#chk-burger {
    display: none;
    position: fixed;
    top: 40px;
    right: 50px;
    background-color: rgba(242, 255, 253, 0.549);
   
}

#chk-burger:checked~.navigation {
    display: block;
    transform: translateX(0);
}



/* stylization */
.navigation a {
    display: block;
    color: aliceblue;
    background-color: rgba(235, 244, 254, 0.608);
    text-decoration: none;
    font-size: 2rem;
    padding: 3px;
    margin: 5px
}

.navigation {
    position: fixed;
    top: 60px;
    right: 10px;
    border: 3px double aliceblue;
    transform: translateX(180%);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1.2);
    
}

/*******************************************icone menu************************************************/

/** positionement**/
.navigation__bouton {
    position: fixed;
    top: 10px;
    right: 10px;
}